@page "/"

<PageTitle>Index</PageTitle>

<h1>Welkom op het Blazor project van Ayoub el younssi</h1>
<p>Hier vind je een vertaling van Javascript oefeningen naar C#</p>

<div class="btn-group-vertical">
    <NavLink class="btn btn-primary m-2" href="films">Films</NavLink>
    <NavLink class="btn btn-primary m-2" href="foto">Foto</NavLink>
    <NavLink class="btn btn-primary m-2" href="funfacts">FunFacts</NavLink>
    <NavLink class="btn btn-primary m-2" href="dobbelen">Dobbelen</NavLink>
</div>

